<div class="container-fluid">
    <div class="row">
        <button class="btn btn-success pull-left corner-bottom-right" ng-click="save()">Save</button>
        <button class="btn btn-danger pull-right corner-bottom-left" ui-sref="app">X</button>
    </div>
    <div class="row">
        <div class="col-xs-6">
            <h3>{{app.name}}</h3>
            <br />
            <div class="group" ng-show="!app.id">
                <input type="text" class="input" ng-model="app.name" required>
                <span class="highlight"></span>
                <span class="bar"></span>
                <label>Name</label>
            </div>
            <div class="group" ng-show="app.id">
                <input type="text" class="input" ng-model="app.comment" required>
                <span class="highlight"></span>
                <span class="bar"></span>
                <label>Beschreibung</label>
            </div>
        </div>
        <div class="col-xs-6">
            <img ng-src="/api/app/{{app.id}}/image" alt="Bild hochladen" class="pull-right" style="height: 200px;" ngf-select="uploadImage($file)"/>
        </div>
    </div>
    <div class="row" ng-show="app.id">
        <div class="col-xs-12">
            <h3>Updater</h3>
            <span ng-show="app.updaterFilePath">Akuteller Updater: {{app.updaterFilePath}}<br /></span>
            <button class="btn btn-primary corner-bottom-right" ngf-select="uploadUpdater($file)">Datei hochladen...</button>
        </div>
    </div>
    <div class="row" ng-show="app.id">
        <div class="col-md-6">
            <h3>Versionen</h3>
            <table class="table table-bordered" ng-show="app">
                <th>Eingestellt</th>
                <th>Nummer</th>
                <th>Datei</th>
                <tr ng-repeat="version in app.versions">
                    <td>{{version.created}}</td>
                    <td>{{version.versionNumber}}</td>
                    <td>{{version.pathToJar}}</td>
                </tr>
            </table>
        </div>
        <div class="col-md-6" style="margin-top: 50px;">
            <button class="btn btn-info pull-right corner-bottom-left" style="position: absolute; right: 0;" ng-hide="newVersion" ng-click="addVersion()">Neue Version</button>
            <div ng-show="newVersion">
                <form>
                    <div class="group">
                        <input type="text" class="input" ng-model="newVersion.versionNumber" required>
                        <span class="highlight"></span>
                        <span class="bar"></span>
                        <label>Version</label>
                    </div>
                    <button class="btn btn-info corner-top-left" ngf-select ng-model="newVersion.file" name="file" ngf-max-size="128MB">Datei wählen</button>
                    <span ng-show="newVersion.file">Gewählte Datei: {{newVersion.file.name}}</span>
                    <br />
                    <button class="btn btn-primary corner-bottom-right" ng-click="commitVersion()">Version freigeben</button>
                </form>
            </div>
        </div>
    </div>
</div>
<progressbar max="100" value="progress" ng-show="progress" style="position: absolute; width: 100%; bottom: 0; margin-bottom: 0px; border-radius: 0px;">
    <span style="color:white; white-space:nowrap;">{{progress}} %</span>
</progressbar>
