<style>
.glyphicon {
    color: #337ab7;
}

.glyphicon-chevron-down {
    color: #337ab7;
}

.glyphicon-chevron-right {
    color: #337ab7;
}
</style>
<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12">
            <table class="table table-hover">
                <thead>
                    <th>#</th>
                    <th>Name</th>
                </thead>
                <tbody>
                    <tr ng-repeat="app in apps._embedded.apps" ng-class-odd="'table-odd'" ng-class-even="'table-even'" ui-sref="app.detail({id: app.id})" style="cursor: pointer;">
                        <td>{{$index+1}}</td>
                        <td> {{app.name}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <button class="btn btn-primary" ui-sref="app.detail({})">App anlegen</button>
        </div>
    </div>
</div>
